#destaque {
    img {
        object-fit: cover;
        height: 100%;
        border-radius: 0.4rem;
    }
}

.card {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      inset: 0;
      background: linear-gradient( /* essa função e linear e gradual, saindo de um ponto para o outro*/
        180deg, /* angulação que eu quero*/
        transparent 0%, /* a cor que eu quero iniciar */
        #020617 100% /* a cor final e  porcentagem*/
      );
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 2.0rem;

      &:has(.text-h3) {
        padding: 1.2rem;
      }

      h2 {
        margin-top: 0.8rem;
        
      }
    }
}

#mais-lidos {
    margin-block: 8.0rem;
    object-fit: cover;
    height: 100%;
    border-radius: 0.4rem;
}