.header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 1.2rem 2.4rem;
  font: var(--text-span);

  a {
    justify-self: end;
    align-items: center;
    gap: 0.8rem;

    span {
      background-image: url(../assets/icons/ArrowRightnormal.svg);
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight.svg);
    }
  }
}

#destaque {
  grid-area: destaque;
    img {
        object-fit: cover;
        height: 100%;
        border-radius: 0.4rem;
    }
}

.card {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      inset: 0;
      background: linear-gradient( /* essa função e linear e gradual, saindo de um ponto para o outro*/
        180deg, /* angulação que eu quero*/
        transparent 0%, /* a cor que eu quero iniciar */
        #020617 100% /* a cor final e  porcentagem*/
      );
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 2.0rem;

      &:has(.text-h3) {
        padding: 1.2rem;
      }

      h2 {
        margin-top: 0.8rem;
        
      }
    }
}



#maislidos {

  grid-area: maislidos;

  &>div {
    display: grid;
    grid-template-columns: repeat(4, 29.2rem);
    gap: 1.6rem;
  }

  img {
    height: 16.0rem;
    border-radius: 0.4rem;
  } 
  
  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
    }

    p {
      margin-top: 0.8rem;
      font-weight: 800;
    }
  }
}

#ai {
  grid-area: ai;
  img {
    width: 17.6rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 0.8rem 0.4rem;
  }
}

aside {
  grid-area: aside;
}

#more {

  margin-top: 3.2rem;

  h3 {
    margin-top: 0.8rem;
  }

  img {
    width: 7.2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}